<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anumbrella.viewpagerindicator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Tabs指示器 -->


        <activity
            android:name=".Tabs.SampleTabsDefault"
            android:label="Tabs/Default"
            android:theme="@style/Theme.PagerIndicatorDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tabs.SampleTabsStyled"
            android:label="Tabs/Styled"
            android:theme="@style/StyledIndicator">
            <!-- 自定义样式,(style文件)-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tabs.SampleTabsWithIcons"
            android:label="Tabs/Width Icons"
            android:theme="@style/StyledIndicator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>


        <!-- Icons指示器 -->
        <activity
            android:name=".Icons.SampleIconsDefault"
            android:label="Icons/Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>

        </activity>


        <!-- Lines指示器-->

        <activity
            android:name=".Lines.SampleLinesDefault"
            android:label="Lines/Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Lines.SampleLinesStyledLayout"
            android:label="Lines/Styled (Layout)"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Lines.SampleLinesStyledMethods"
            android:label="Lines/Styled (Methods)"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Lines.SampleLinesStyledTheme"
            android:label="Lines/Styled (Theme)"
            android:theme="@style/StyledIndicator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>


        <!-- Underlines指示器-->

        <activity
            android:name=".Underlines.SampleUnderlinesDefault"
            android:label="Underlines/Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Underlines.SampleUnderlinesNoFade"
            android:label="Underlines/NoFade">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Underlines.SampleUnderlinesStyledLayout"
            android:label="Underlines/StyledLayout"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Underlines.SampleUnderlinesStyledMethods"
            android:label="Underlines/StyledMethods"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Underlines.SampleUnderlinesStyledTheme"
            android:label="Underlines/StyledTheme"
            android:theme="@style/StyledIndicator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="net.anumbrella.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>


    </application>

</manifest>
